#
# SERVICES
#

DELIVERY_PATHFINDER_HOST=localhost
DELIVERY_PATHFINDER_PORT=3000

DRONE_HEARTBEAT_HOST=localhost
DRONE_HEARTBEAT_PORT=4000

DELIVERY_SCHEDULER_HOST=localhost
DELIVERY_SCHEDULER_PORT=3002

DRONE_REGISTRY_HOST=localhost
DRONE_REGISTRY_PORT=3003

TRACKING_ROUTER_HOST=localhost
TRACKING_ROUTER_PORT=3004

DRONE_CONTROLLER_HOST=localhost
DRONE_CONTROLLER_PORT=3005

ALERT_HANDLER_HOST=localhost
ALERT_HANDLER_PORT=3006

TRACKING_ANALYSER_HOST=localhost
TRACKING_ANALYSER_PORT=3007

#
# EXTERNAL SERVICES
#

NETWORK_COVERAGE_API_HOST=localhost
NETWORK_COVERAGE_API_PORT=5003
